body {
    cursor: default;
}

.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    cursor: default;
}

.header div {
    display: inline-block;
    margin: 12px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #5c5c5c;

}

.header .l {
    float: left;
    margin-left: 15px;
}

.header .r {
    direction: ltr;
    float: right;
    margin-right: 15px;
}

#grid_circle {
    margin: 0px;
    border-radius: 20px;
    height: 36px;
    width: 36px;
    position: relative;
   
    

}
#grid_circle svg {
    height: 24px;
    width: 24px;
    position: relative;
    margin: 6px;
   
}

#grid_circle:hover {
    background-color: #f1f1f1;
}

#grid {
    position: relative;
    vertical-align: middle;
    height: 36px;
    width: 36px;
    margin: 0px;
    cursor: pointer;
}
#grid path {
    display: relative;
    margin: 0px;
    fill: #5c5c5c;
}
span {
    cursor: pointer;
}

#sign_in {
    position: relative;
    display: inline-block;
    line-height: 28px;
    color: white;
    margin: 0px 10px;
    font-size: 13px;
    font-weight: 700;
    background-color: #4387fd;
    border-radius: 2px;
    padding: 0px 12px;
    height: 28px;
    vertical-align: middle;
}
#sign_in:hover {
    box-shadow: 0px 1px 3px #bbbbbb;
}

#Google {
    width: 275px;
    display: block;
    margin: auto;
    padding-top: 140px;
    padding-bottom: 0px;
}

#text_bubble {
    display: table;
    margin: auto;
    border: 1px solid #cfcece;
    border-radius:50px;
    margin-top: 25px;
}

#text_bubble:hover{
    box-shadow: 0px 1px 5px #bbbbbb;
    border: 1px solid white;
}

#text_bubble:focus {
    box-shadow: 0px 1px 5px #bbbbbb;
    border: 1px solid white;
}

#text_input {
    width: 410px;
    height: 34px;
    margin: 3px;
    border: none;
    font-size: 16px;
    align-content: center;
}
#text_input:focus{
    outline: none;
}
#text_bubble svg {
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
    margin-left: 15px;
    padding-top: 0px;
    align-content: flex-start;
    fill: #8b8b8b;
}

#microphone {
    position: relative;
    top: -2px;
    height: 24px;
    vertical-align: middle;
    align-content: flex-end;
    margin-right: 12px;
}

#search_buttons {
    display: block;
    margin: 30px auto;
    padding: 0px;
    width: 400px;
    height: 40px;
}

#search_buttons button {
    display: inline-block;
    position: relative;
	height: 36px;
    font-size: 14px;
    color: #5c5c5c;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    padding: 0px 15px;
}

#search_buttons button:hover {
    border: 1px solid  #a5a5a5;
    box-shadow: 0px 1px 2px #bbbbbb;
}

#search_buttons button:focus {
	outline: 0;
}

#google_button {
    //margin-left: 60px;
    margin-right: 10px;

}

#rolling {
 //   position: relative;
 //   top: 0px;
 //   left: 200px;
  //  width: 140px;
  //  font-family: Arial, Helvetica, sans-serif;
   // font-size: 14px;
   // color: #5c5c5c;
 //   overflow: hidden;
 // text-align: left;
 //  padding-top: 9px;
 //  padding-bottom: 4px;
 //white-space: nowrap;
}

#rolling div {
 //   position: relative;
 //   left: 0px;
 //   top: -145px;
    text-align: left;
    padding-top: 9px;
    padding-bottom: 4px;
    white-space: nowrap;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    color: #5c5c5c;
    border-top: 1px solid #a5a5a5;
}

.footer div {
    display: inline-block;
    margin-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}

.footer .l {
    float: left;
    margin-left: 30px;
    cursor: pointer;
}

.footer .r {
    direction: ltr;
    float: right;
    margin-right: 30px;
    cursor: pointer;
 
}